on:
  issues:
    types: [opened, edited]
  issue_comment:
    types: [created, edited]
  pull_request:
    types: [opened, edited, review_requested]
  pull_request_review:
    types: [submitted]
  pull_request_review_comment:
    types: [created, edited]

jobs:
  mention-to-chatwork:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: mention to chatwork
        uses: ./
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          api-token: ${{ secrets.CHATWORK_API_TOKEN }}
          run-id: ${{ github.run_id }}